

.background {
    background-color: rgb(255, 255, 255);
    width: 755px;
    border-style: groove;
    border-color: rgba(239, 243, 243, 0.959);
    border-width: 0px;
    border-top: 0px;
    border-left: 0px;
  }

  .text {
    margin: 1rem auto;
    margin-left: 15px;
    margin-right: 15px;
    font-family: "Times New Roman", Times, serif;
    color: rgb(129, 129, 129);
    font-size: 15px;
  }

  .image {
    width: 728px;
    height: 307px;
  }