.roteiro {
    margin: 1rem auto;
    width: 266px;
  }

.roteiroinformation {
    background-color: rgb(255, 255, 255);
    height: 280px;
    border-style: groove;
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    border-top: 0px;
    border-left: 0px;
  }

  .image {
    width: 266px;
    height: 200px;
  }



  .name {
    margin-top: 10px;
    margin-left: 5px;
    font-family: "Times New Roman", Times, serif;
    color: rgb(153, 153, 153);
    font-size: 25px;
  }

  .dividingline {
    margin: 5px;
    top: 50%
  }

  .duration {
    margin-top: 5px;
    margin-left: 5px;
    font-family: "Times New Roman", Times, serif;
    color:rgb(153, 153, 153);
    font-size: 15px;
  }